language: node_js
node_js:
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-fiddle' ]; then cd .. && eval "mv $currentfolder generator-fiddle" && cd generator-fiddle; fi

