<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title><%= workFolder %> Fiddle</title>

        <!-- bower:css -->
        <!-- endbower -->
        <link rel="stylesheet" href="styles/style.css">
    </head>

    <body>
      <div class="container">
        <h1><%= workFolder %> - Fiddle</h1>
        <p>
          <%= fiddleDesc %>
        </p>
        <hr/>
        <h3>Install your favourite libs</h3>
        <p>
          For e.g. to install jQuery UI Framework...
        </p>
        <pre>
          bower install jqueryui --save
        </pre>
        <h2>All setup...now go fiddle</h2>
      </div>
      <!-- bower:js -->
      <!-- endbower -->
      <script src="scripts/main.js"></script>
    </body>
</html>
