<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Fiddle</title>

        <link rel="stylesheet" href="bower_components/HTML5-Reset/assets/css/reset.css">
        <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery.ui.theme.css">
        <link rel="stylesheet" href="styles/application.css">

        <script src="bower_components/modernizr/modernizr.js"></script>
    </head>

    <body>
        <!-- BEGIN:MARKUP -->

        <!-- END:MARKUP -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/jquery-ui/ui/jquery.ui.core.js"></script>
    </body>
</html>
